Obligatorio 1/ConsoleApplication1/App.config
Obligatorio 1/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe.config
Obligatorio 1/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.config
Obligatorio 1/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
Obligatorio 1/DataAccess/App.config
Obligatorio 1/DataAccess/bin/Debug/DataAccess.dll.config
Obligatorio 1/DataAccess/obj/Debug/DataAccess.csproj.FileListAbsolute.txt
Obligatorio 1/DataAccessTests/App.config
Obligatorio 1/DataAccessTests/bin/Debug/DataAccessTests.dll.config
Obligatorio 1/DataAccessTests/obj/Debug/DataAccessTests.csproj.FileListAbsolute.txt
Obligatorio 1/Entities/App.config
Obligatorio 1/Entities/bin/Debug/Entities.dll.config
Obligatorio 1/Entities/obj/Debug/Entities.csproj.FileListAbsolute.txt
Obligatorio 1/Repository/App.config
Obligatorio 1/Repository/bin/Debug/Repository.dll.config
Obligatorio 1/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
