Obligatorio 1/ConsoleApplication1/App.config
Obligatorio 1/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe.config
Obligatorio 1/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.config
Obligatorio 1/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
Obligatorio 1/DataAccess/App.config
Obligatorio 1/DataAccess/bin/Debug/DataAccess.dll.config
Obligatorio 1/DataAccess/obj/Debug/DataAccess.csproj.FileListAbsolute.txt
Obligatorio 1/DataAccessTests/App.config
Obligatorio 1/DataAccessTests/bin/Debug/DataAccessTests.dll.config
Obligatorio 1/DataAccessTests/obj/Debug/DataAccessTests.csproj.FileListAbsolute.txt
Obligatorio 1/Entities/App.config
Obligatorio 1/Entities/bin/Debug/Entities.dll.config
Obligatorio 1/Entities/obj/Debug/Entities.csproj.FileListAbsolute.txt
Obligatorio 1/Repository/App.config
Obligatorio 1/Repository/bin/Debug/Repository.dll.config
Obligatorio 1/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
*.tmp
Obligatorio 1/ServicesTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Obligatorio 1/ServicesTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Obligatorio 1/ServicesTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
